
{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}


{% block content %}
    <!-- Start blog details -->
<div class="blog-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>{{blog.title}}</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-12">
                <div class="blog-inner-details-page">
                    <div class="blog-inner-box">
                        <div class="side-blog-img">
                            <img class="img-fluid" src="{{blog.cover.url}}" alt="">							
                            <div class="date-blog-up">
                                {{blog.created_time|date:'b d '}}
                            </div>
                        </div>
                        <div class="inner-blog-detail details-page">
                            <h3>Duis feugiat neque sed dolor cursus, sed lacinia nisl pretium.</h3>
                            <ul>
                                <li><i class="zmdi zmdi-account"></i>{{blog.author}} <span> : نویسنده  </span></li>
                                <li>|</li>
                                <li><i class="zmdi zmdi-time"></i>زمان : <span>{{blog.created_time}}</span></li>
                            </ul>
                            <p>{{blog.content|safe}}</p>
                            <p>{{blog.content|safe}}</p>
                            <blockquote>
                                <p>{{blog.content|safe}}</p>
                            </blockquote>
                            <p>{{blog.content|safe}}</p>
                        </div>
                    </div>
                    
                 <div class="blog-comment-box">
                    <h3>Comments</h3>
                    {% for cm in comment  %}
                       <div class="comment-item">
                            <div class="comment-item-left">
                                <img src=" {% if cm.image %}{{ cm.image.url }} {% endif %}  "  alt="">
                            </div>
                            <div class="comment-item-right">
                                
                                <a href="#">{{cm.name}}</a>
                               
                                <div class="pull-right">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>Time : <span>{{cm.date}}</span>
                                </div>
                                <div class="des-l">
                                    <p>{{cm.message}}</p>
                                </div>
                              
                                <div class="container">
                                   
                                    <button data-target="#reply{{cm.name}}"  class="right-btn-re"  data-toggle="collapse" ><i class="fa fa-reply" aria-hidden="true">Reply</i></button><br>
                                    <form id="commentrespondform" class="comment-form-respond row" method="post">
                                      {% csrf_token %} 
                                      
                                      {% if parent_comment_id %}
                                          <input type="hidden" name="parent_id" value="{{parent_comment_id}}">
                                      {% endif %}
                                        
                                     <div class="collapse" id="reply{{cm.name}}" >
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <input id="email_com" class="form-control" name="email" placeholder="Your Email" type="email">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" name="message"  placeholder="Your Reply" id="" cols="15" rows="4"></textarea><br>
                                        </div>
                                        <div>
                                            <button class="right-btn-re" ><i class="fa fa-reply" aria-hidden="true">Add Reply</i></button><br>
                                        </div>
                                     </div>
                                   </form> 
                               </div>
                                
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
                    <div class="comment-respond-box">
                        <h3>Leave your comment </h3>
                        <div class="comment-respond-form">
                            <form  id="commentrespondform" class="comment-form-respond row" method="post">
                                
                                {% csrf_token %}
                                    
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <input id="name_com" class="form-control" name="name" placeholder="Name" type="text">
                                    </div>
                                    <div class="form-group">
                                        <input id="email_com" class="form-control" name="email" placeholder="Your Email" type="email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <textarea class="form-control" id="textarea_com" name="message" placeholder="Your Message" rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="hidden" name="parent" value="">
                                    <button class="btn btn-submit">Submit comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
                <div class="right-side-blog">
                    <h3>Search</h3>
                    <form method="GET" >
                      <div class="blog-search-form">
                        <input name="search" placeholder="Search blog" type="text" />
                        <button class="search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                      </div>
                   </form>
                    <h3>دسته بندی ها</h3>
                    <div class="blog-categories">
                        <ul>
                            
                             {% for cat in categories  %}
                                <li>
                                    <a href="{% url 'blog:category' cat.slug %}"><span>{{cat.title}}</span></a>
                                </li>
                            {% endfor %} 
                            
                        </ul>
                    </div>
                    <h3>پست های اخیر</h3>
                    <div class="post-box-blog">
                      <div class="recent-post-box">
                        {% for recent in recent %}
                          <div class="recent-box-blog">
                            <div class="recent-img">
                              <img class="img-fluid" src="{{ recent.cover.url }}" style="height: 70px;" alt="" />
                            </div>
                            <div class="recent-info">
                              <ul>
                                <li>
                                  <i class="zmdi zmdi-account"></i>نویسنده: : <span>{{ recent.author }}</span>
                                </li>
                                <li>|</li>
                                <li>
                                  <i class="zmdi zmdi-time"></i>زمان : <span>{{ recent.created_time|time }}</span>
                                </li>
                              </ul>
                              <h4>{{ recent.description }}</h4>
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                    <h3>تگ های اخیر</h3>
                    <div class="blog-tag-box">
                        <ul class="list-inline tag-list">
                            {% for tag in tag %}
                              <li class="list-inline-item"><a href="{% url 'blog:tag' tag.slug %}">{{tag.title}}</a></li>
                            {% endfor %}
                        </ul>
                     </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

<!-- End details -->
{% endblock content %}
    
